{
  "branches": [
    { "name": "main"},
    { "name": "maintenance-v1", "range": "1.x.x" }
  ],
  "plugins": [
    "@semantic-release/release-notes-generator",  
    "@semantic-release/github",
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["docs/CHANGELOG.md"]
      }
    ]
  ]
}